@font-face {
  font-family: 'RobotoFlex';
  src: url('/fonts/RobotoFlex.ttf') format('opentype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

html {
  height: 100%;
}

body {
  background-color: #211717;
  color: #dfddc7;
  font-family: 'RobotoFlex';
  height: 100%;
}

#wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

a {
  color: #a34a28;
  text-decoration: none;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

#alfa {
  font-size: 4.6rem;
  font-variation-settings: 'wght' 400, 'wdth' 110, 'opsz' 20, 'GRAD' 20,
    'slnt' 0, 'XTRA' 480, 'XOPQ' 100, 'YOPQ' 80, 'YTLC' 490, 'YTAS' 700,
    'YTDE' -140;
}

#alfa {
  text-align: center;
  transition: font-variation-settings 1.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.details {
  padding-top: 30px;
  text-align: left;
  max-width: 550px;
  margin: auto;
}
